<!-- <iframe
    src="https://calendar.google.com/calendar/embed?src=ffe2f7f4cd54afaeb8863335953386a081d430d13b595bd79150504ed831f2a1%40group.calendar.google.com&ctz=America%2FRecife"
    style="border: 0"
    width="800"
    height="600"
    frameborder="0"
    scrolling="no"
></iframe> -->

<div style="min-height: 100vh">
    <div class="">
        <main>
            <div class="py-4 text-center">
                <!-- TODO: incluir um botão de voltar para a tela anterior -->
                <img class="d-block mx-auto mb-4" src="../../../../assets/images/logo-coracao-transparente.png" alt="" width="96" />
                <h1 class="fw-bold mb-3">Centro Espírita Hermelinda Lopes</h1>
                <h3 class="mb-3">Calendário de eventos e atividade do CEHL</h3>
            </div>
            <div class="text-center">
                <!-- <iframe
                    src="https://embed.styledcalendar.com/#4TdIhuS9PtrxrTnCUFAP"
                    title="Styled Calendar"
                    class="styled-calendar-container"
                    style="width: 100%; max-width: 992px; height: 100vh; max-height: 800px; border: none"
                    data-cy="calendar-embed-iframe"
                ></iframe> -->
                <iframe
                    src="https://calendar.google.com/calendar/embed?src=ffe2f7f4cd54afaeb8863335953386a081d430d13b595bd79150504ed831f2a1%40group.calendar.google.com&ctz=America%2FRecife"
                    title="Styled Calendar"
                    class="styled-calendar-container"
                    style="width: 100%; max-width: 992px; height: 100vh; max-height: 800px; border: none"
                ></iframe>
                <!-- <script async type="module" src="https://embed.styledcalendar.com/assets/parent-window.js"></script> -->
            </div>
        </main>
        <app-footer></app-footer>
    </div>
</div>
