<div class="gradient-background text-bg-dark" style="height: 100vh">
    <div class="container container-short">
        <main>
            <div class="py-5 text-center">
                <img class="d-block mx-auto mb-4" src="../../../../assets/images/logo-coracao-transparente.png" alt="" width="96" />
                <h1>CEHL</h1>
                <h3>Centro Espírita Hermelinda Lopes</h3>
                <p class="lead">CNPJ: 11.144.037/0001-00</p>
            </div>

            <div class="mb-5">
                <div class="d-grid gap-2">
                    <a
                        href="https://calendar.google.com/calendar/ical/ffe2f7f4cd54afaeb8863335953386a081d430d13b595bd79150504ed831f2a1%40group.calendar.google.com/public/basic.ics"
                        class="btn btn-outline-light py-2 mb-2 rounded-pill"
                        type="button"
                        >Calendário de eventos e atividades</a
                    >
                    <a routerLink="/doacao" class="btn btn-outline-light py-2 mb-2 rounded-pill text-capitalize" type="button">Doações</a>
                    <a
                        href="https://goo.gl/maps/bf4amApLW3HvvD9X9"
                        target="_blank"
                        class="btn btn-outline-light py-2 rounded-pill text-capitalize"
                        type="button"
                        >Localização</a
                    >
                </div>
            </div>
        </main>
        <app-footer></app-footer>
    </div>
</div>
