<div class="gradient-background bg-dark text-bg-dark" style="height: 100vh">
    <div class="container" style="max-width: 680px">
        <main>
            <div class="py-5 text-center">
                <img class="d-block mx-auto mb-4" src="../../../../assets/images/logo-coracao-transparente.png" alt="" width="96" />
                <h1>CEHL</h1>
                <h3>Centro Espírita Hermelinda Lopes</h3>
                <p class="lead">CNPJ: 11.144.037/0001-00</p>
            </div>

            <div class="mb-5">
                <div class="d-grid gap-2">
                    <button class="btn btn-outline-light py-2 mb-2 rounded-pill text-capitalize" type="button">Doações</button>
                    <a
                        href="https://goo.gl/maps/bf4amApLW3HvvD9X9"
                        target="_blank"
                        class="btn btn-outline-light py-2 rounded-pill text-capitalize"
                        type="button"
                        >Localização</a
                    >
                </div>
            </div>
            <div class="text-center" id="social-links">
                <a href="https://instagram.com/cehermelindalopes" target="_blank" class="me-4 text-reset">
                    <i class="fa-brands fa-instagram fa-2x"></i>
                </a>
                <a href="https://www.facebook.com/centroespiritahermelindalopes" target="_blank" class="text-reset">
                    <i class="fa-brands fa-facebook fa-2x"></i>
                </a>
            </div>
        </main>
    </div>
</div>
