<div class="gradient-background bg-dark text-bg-dark" style="height: 100vh">
    <div class="container" style="max-width: 680px">
        <main>
            <div class="py-5 text-center">
                <img class="d-block mx-auto mb-4" src="../../../../assets/images/logo-coracao-transparente.png" alt="" width="96" />
                <h1>CEHL</h1>
                <h3>Centro Espírita Hermelinda Lopes</h3>
                <p class="lead">CNPJ: 11.144.037/0001-00</p>
            </div>

            <div>
                <div class="d-grid gap-2">
                    <button class="btn btn-outline-light py-2 mb-2 rounded-pill text-capitalize" type="button">Doações</button>
                    <button class="btn btn-outline-light py-2 rounded-pill text-capitalize" type="button">Localização</button>
                </div>
            </div>
        </main>
    </div>
</div>
